.classTable{
    width:100%;
    text-align: center;
    position: relative;
    padding-top: 1em;
}

.classTable table{
    width:90%;
    margin-left:50%;
    transform:translateX(-50%);
}


.classTable th{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    text-align: center;
}